@if(isModalOpen){
  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="fixed inset-0 bg-gray-500/75 transition-opacity"
      aria-hidden="true"
      (click)="closeModal()"
    ></div>

    <div
      class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center"
    >
      <div
        class="bg-white rounded-lg shadow-xl transition-all sm:w-full sm:max-w-lg"
      >
        <!-- Title Slot -->
        <div class="p-6 border-b">
          <ng-content select="[modal-title]"></ng-content>
        </div>

        <!-- Body Slot -->
        <div class="p-6">
          <ng-content select="[modal-body]"></ng-content>
        </div>

        <!-- Footer Slot -->
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse">
          <ng-content select="[modal-footer]"></ng-content>
        </div>
      </div>
    </div>
  </div>
  }
